# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# macOS
.DS_Store

# misc
*.log

# data directory
/data/*
!/data/.gitkeep
